@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Noto Serif', serif;
}

#root {
  padding: 1rem;
}

@media only screen and (min-width: 768px) {
  #root {
    padding: 2rem 4rem;
  }
}